nav {
  ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  li {
    padding-right: 1em;
  }
  a,
  a:visited {
    color: var(--mantine-color-blue-6);
  }
  a.active{
    color: var(--mantine-color-blue-4);
    text-decoration: underline;
  }
  a.pending a.transitioning{
    color: var(--mantine-color-indigo-5);
  }
}
