.post {
    background-color: inherit;
    color: inherit;
}

.post:hover {
    background-color: var(--mantine-color-white);
    color: var(--mantine-color-black);

    a,
    a:visited {
        color: var(--mantine-color-blue-5);
    }
}