/* Override some stuff in Mantine */
code {
  background-color: inherit !important;
}

/* User defined stylesheet */
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

p {
  hyphens: auto;
  text-align: justify;
}


a,
a:visited{
  color: var(--mantine-color-blue-4);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.nohover:hover{
  text-decoration: none;
}

section {
  padding-bottom: 1em;
}
